.container {
  background-color: var(--cor-api-aside);
  padding: 24px 16px 16px 16px;
  height: auto;
  font-family: "Inter";
}

.nick {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.nick p {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #171923;
  margin-bottom: 4px;
}

.nick small {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2d3748;
}

.follower {
  display: flex;
  gap: 16px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--cor-api-light-gray);
  margin: 24px 0;
}

.layout_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
