.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px 0 16px;
  gap: 32px;
}

.title {
  font-family: "Nunito";
  font-weight: 500;
  font-style: Medium;
  font-size: 50px;
  letter-spacing: 1%;
}

.title > :first-child {
  color: var(--cor-api-blue);
}

.title > :nth-child(2) {
  color: var(--cor-api-purple);
}

.input {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 56px;
}

.lupa {
  position: absolute;
  margin-left: 1px;
  height: 48px;
  width: 48px;
}

.input > input {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 0 8px 0 48px;
  width: 100%;
  height: 100%;
  max-width: 592px;
}
.input > input::placeholder {
  color: black;
}

.buttonSearch {
  display: none;
}

@media (min-width: 600px) {
  .buttonSearch {
    display: block;
    width: 176px;
    height: 100%;
    padding: 10px 24px;
    border-radius: 6px;
    background-color: var(--cor-api-purple);
    color: white;

    font-weight: 600;
    line-height: 28px;
    font-size: 1.125rem;
    font-family: "Inter";
  }

  .input {
    height: 48px;
    gap: 32px;
  }

  .input > input {
    border: 1px solid #e2e8f0;
    border-radius: 6px;
  }

  .input > input::placeholder {
    color: #0000005c;
  }

  .title {
    font-size: 80px;
  }

  .container {
    gap: 56px;
  }
}
